@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");

* {
    font-family: "Overpass";
    transition: 0.3s ease-in-out;
    box-sizing: border-box;

}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #131518;
}

.main {
    width: 360px;
    height: 370px;
    padding: 25px;
    border-radius: 20px;
    background: radial-gradient(98.96% 98.96% at 50% 0%,
            #232A34 0%, #181E27 100%);
}

.image {
    color: #FC7614;
    border-radius: 60%;
    padding: 7.5px;
    height: 30px;
    width: 30px;
    background: #262E38;

}


.text1 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
    color: #FFFFFF;
    font-size: 28px;
}

.ptext {
    font-family: 'Overpass';
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #969FAD;
}



.rbutton {
    height: max-content;
    margin: 5px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;


}

.rbutton div {
    height: 51px;
    width: 51px;
    border-radius: 80px;
    background: #262E38;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7C8798;

}

.rbutton div label {
    margin: 0;

}


.rbutton div input[type="radio"] {
    display: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;

}

.rbutton div:hover,
.rbutton div input:hover {
    background: #FC7614;
    color: #FFFFFF;

}

.rbutton div:active{
    background: #FC7614;
    color: #FFFFFF;
}
.rbutton div:focus, .rbutton div:checked{
    background: #FC7614;
    color: #FFFFFF;
}
.rbutton div input:focus, .rbutton div input:checked {
    background: #FC7614;
    color: #FFFFFF;
}


.sbutton {
    width: 100%;
    height: max-content;
}

button {
    border-radius: 22.5px;
    background: #FC7614;
    height: 45px;
    width: 100%;
    border: 0px;
    color: #FFFFFF;
    font-size: 15px;
}

button:hover {
    background: #FFFFFF;
    color: #FC7614;
}



@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background: #131518;
    }
}